.sidebar {
  position: fixed;
  top: 0;
  width: 20vw;
  left: 0;
  min-height: 100vh;
  z-index: 100;
  padding: 48px 0 0;
  overflow: scroll;
}

.sidebar .nav-item .nav-link {
  font-size: 1vw;
  padding: 17px 30px 20px 77px;
  width: 100%;
  color: #333333;

}


 
.athena-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 0vw;
  padding: 30px;
}

.side-foot {
  margin-top: 5vw;
  padding: 0px 0px 20px 77px;
}

.collapsedText {
  padding: 0px 0px 0px 110px;
}

.sidebar .nav-item .nav-link:hover {
  background-color: #69C0FF;
}
.slidenav-link{
  margin-top: 2vw;
}

li {
  list-style: none;
}
ul {
  padding: 0px !important;
}
a {
  text-decoration: none;
}
.sub-links {
  color: #333333;
}
.sub-links.active {
  color: #1890FF;
}
.side-foot .btn {
  background-color: #40a9ff;
}

.mprofie-btn{
  border: none;
  padding: 5x 32px;
  border-radius: 2px !important;
}