/* .deletebutton{
    width: 100px;
    height: 32px;
    border-color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: black;
    background-color: white;
}

.disablebutton{
    width: 100px;
    height: 32px;
    left: 790px;
    top: 52px;
    background: #333333;
    border-radius: 2px;
} */
.Adduserbutton{


    background: hsl(207, 100%, 63%);
    border-radius: 2px;
    display: flex;
    border: none;
}
.height{
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}


